@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap');
*{
    box-sizing: border-box;
}

:root{
    --primary-color: #4e5885
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.container{
    border: 20px solid black;
    padding: 10px;
    border-radius: 40px;
    width: 95%;
    height: 95vh;
    display: flex;
    flex-direction: row;
    background-color:#dfe0ed;
  gap:10px
    
}
.connexion{
  background-color:var(--primary-color);
  padding:50px;
  display:flex;
  flex-direction:column;
  align-items:start;
  border-radius:10px;
  color:white
  
  
  
}
.input{
/*   background-color:#55c425; */
  width:260px;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  margin-bottom:10px;
  
  
  
}
.btnConnexion{
  border-radius:5px;
  background-color:white;
  margin-left:70px;
  color:var(--primary-color);
}



.container.hide,
.connexion.hide{
    display: none;
}

h1{
    text-align: center;
}
h2{
    text-align: center;
  margin-left:50px;
  margin-bottom:40px;
}

h1 span{
    background-color: lightgreen;
    padding: 20px;
    border-radius: 50% 50% 0 0;
}
.title h2{
  text-align:start;
  margin:5px 10px;
}
.box{
    width: 40%;
    display: flex;
    gap:20px;
  overflow: scroll;
    flex-direction:column;
/*     background-color: var(--primary-color); */
    padding:5px;
  border-right: 1px solid gray;
}
.searchbar{
  width:80%;
  border:2px solid rgb(0, 0, 0);
  border-radius:7px;
  height:20px;
  padding:10px;
  
  
}
.searchbar:active{
    border: 2px solid var(--primary-color);
}
.sidebar{
  background-color: var(--primary-color);
  width:6%;
  height:100%;
  border-radius:10px;
  padding:10px;
  display: flex;
  flex-direction: column;
  align-items:center;
  gap:30px;
  /* justify-content:space-between */
}
.sidebar i{
  color:white;
  /*   background-color:var(--primary-color); */
    font-size:26px;
}
.option{
  display: flex;
  flex-direction: column;
  align-items:center;
  /* background-color:black; */
  gap:30px
  
}
.option i {
  color:white;
  font-size:26px;
}
.option i:hover{
  color:#9d9fc2;
  font-size:26px;
}
.option i.active {
  color:#9d9fc2;
  font-size:26px;
}
.search i{
    color:black;
/*   background-color:var(--primary-color); */
  font-size:15px;
}
.search i:hover{
    color:black;
/*   background-color:var(--primary-color); */
  font-size:16px;
  overflow:hidden;
}
.search{
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:center;
  width:100%;
  gap:10px;
/*       background-color:white; */
  height:20px

}
.topbar{
    border-bottom:1px solid var(--primary-color);
    width:100%;
    padding:5px 10px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-color:white;
    border-radius: 10px 10px 0px 0px;
      
}
.infos{
    width: 70%;;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:5px;
/*   background-color:red; */
}
.img-info{
  width:30px;
  border-radius:50px;
  height:30px;
  background-color:var(--primary-color);
  text-align:center;
  color:white;
}
.img-info img{
    object-fit:cover;
    width:30px;
    height: 30px;
    border-radius:50px;
}
.topoptions{
  /* background-color:var(--primary-color); */
  width:30%;
  display: flex;
  flex-direction: row;
  gap:10px;
  justify-content:end;
    
  
}
.topoptions i{
  color:var(--primary-color);
  font-size:18px;
  height: 25px;
  padding: 5px;
  border-radius: 3px;
  display: flex;
  align-items: center;
}
.topoptions i:hover{
  background-color:var(--primary-color);
  height: 25px;
  padding: 5px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  color:white;
}
.list{
    padding-right: 10px;
    width:100%;
}

.item{
    border-bottom: 1px solid black;
    padding: 10px 5px;
    min-width: max-content;
    color:black;
    display:flex;
    flex-direction:row;
    gap:5px;
    align-items: center;
}

.item:hover{
    background-color: var(--primary-color);
    color: black;
    cursor: pointer;
    color:white;
   min-width: max-content;
   border-radius: 10px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-left:0px;
/*     background-color:red */
}

.new-message{
    padding: 10px;
    display: flex;
    align-items: end;
  background-color:white;
    border-radius: 0 0px 10px 10px;

}


button{
    height: fit-content;
    padding: 10px 15px;
    margin-left: 20px;
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
    border-radius:5px;
    color:white;
}

textarea{
    flex: 1;
    border-radius:5px;
  background-color:#dfe0ed;
    border:0
}

textarea:focus{
    outline: none;
    border: 2px solid var(--primary-color);
  
}

.messages{
    width: 100%;
    height:100%;
    padding:5px 10px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    font-family: 'Edu TAS Beginner', cursive;
    background-color:white;
  
}

.message{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.text{
    border: 1px solid gray;
    padding: 15px;
    border-radius: 0 10px 10px 10px;
    border-top: none;
    border-left: none;
    background-color: var(--primary-color);
  color:white
}

.date{
    min-width: fit-content;
    margin-left: 30px;
    font-size: 0.5rem;
    color:white;
    margin-top:10px
}

.date span{
    background-color: var(--primary-color);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.writting{
    font-size: 0.8rem;
    font-weight: lighter;
    color: var(--primary-color);
}

.writting.stop{
    display: none;
}

